[aria-label="Save for later"] > svg,
[aria-label="Remove from Later"] > svg {
  display: none;
}

[aria-label="Save for later"]::after,
[aria-label="Remove from Later"]::after {
  content: "\1F984" !important;
}

/* remove the desktop notifications warning */
.p-message_pane__foreword__notification_warning {
  display: none;
}
